body {
    background-color: #e0ff99; /* цвет фона */
    font-family: Arial, sans-serif;
}

.menu {
    font-size: 95px; /* размер букв меню */
    margin-top: 1000px; 
    margin-left: 200px;
}

.menu ul {
    list-style: none;     /* Убираем маркеры списка */
}

.menu li {
    margin-top: 30px;
}

#start {
    margin-left: 140px; /* отступ кнопки НАЧАТЬ */
}

#words {
    margin-left: -30px; /* отступ кнопки список слов */
}

.button {
    width: 344px;           /* Фиксированная ширина */
    height: 69px;           /* Фиксированная высота */
    text-align: center;     /* Текст по центру */
    background-color: #23ffa3; /* Ярко-желтый фон */
    color: #000000;         /* Черный текст */
    text-decoration: none;  /* Убираем подчеркивание у ссылок */
    border: 3px solid black;              /* Без границы */
    cursor: pointer;        /* Курсор-указатель при наведении */
}

.description { /* описание на главной странице */
    margin-left: 300px; /* отступ слева */
    font-size: 30px;
}

.counter { /* счетчик (плюсы и минусы) */
    font-size: 100px;
    max-width: 250px;
}

.counter_word {
    max-width: 250px; /* счетчик кол-ва слов */
}




